<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">VoxEC</h5>
    <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex bottonsTool justify-content-center">
        <button onclick="createGroup()" class="btnAdd">
            <span class="material-symbols-outlined add">
                add
            </span>
        </button>
        <button class="btnAdd">
            <span class="material-symbols-outlined">
                settings
            </span>
        </button>
    </div>
    <div class="createGroup mt-4" id="createGroup">
      <form action="/user/createGroup" method="post">
        <div class="mb-3">
          <div class="inputContent">
            <span class="material-symbols-outlined iconForm">
              groups
            </span>
            <input type="tex" placeholder="Nome do grupo" class="form-control" name="groupName" id="groupName">
          </div>
        </div>
        <div class="mb-3">
          <div class="inputContent">
            <span class="material-symbols-outlined iconForm">
              description
            </span>
            <input type="tex" placeholder="Descrição do grupo" class="form-control" name="groupDescription" id="groupDescription">
          </div>
        </div>
        <div class="btns">
          <button type="submit" class="btnCreate">Criar</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="groups">
      <h3>Grupos</h3>
      <hr>
        <div class="localGroup p-3">
          <ul class="list-group">
            {{!-- Lista de grupos --}}
            {{#each dataGroups}}
              <a class="text-decoration-none" href="/user/group/{{this._id}}">
                <li class="list-group-item itemGroup">
                  <div class="dataGroup">
                    <h4>{{this.groupName}}</h4>
                      <small>
                        Criador por: <strong>{{this.author.username}}</strong>
                      </small>
                  </div>
                  <hr>
                  <p>{{this.groupDescription}}</p>
                </li>
              </a>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>