:root{
    --colorBottons: #4F30BF;
    --colorBottons02: #e951fd;
    --backgroun01: #292259;
    --backgroundBlur: #29225980;
}

.localChat{
    height: 80vh;
}
.contentMsg{
    background-color: var(--backgroundBlur);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-bottom: 15px;
    height: 100%;
}
#messageForm{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.contentMsg{
    padding: 20px;
}
.me {
    background-image: linear-gradient(45deg, var(--backgroun01), transparent);;
    color: white;
    text-align: right;
    border: 1px solid var(--colorBottons);
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    width: fit-content;
    max-width: 60%;
}

.other {
    background-color: #ddd; /* Cinza para outros */
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-right: auto;
    width: fit-content;
    max-width: 60%;
}
.userName {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.contentChat{
    overflow-y: auto;
    height: 90%;
    padding: 10px;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btnSend{
    color: white;
    border: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--backgroundBlur);
}
.btnSend:hover{
    border: 1px solid rgba(255, 255, 255, 0.507);
}
.lock{
    color: red;
    background-color: white;
    border: 1px solid red;
}
.lock, .open{
    background-color: rgba(255, 255, 255, 0.466);
    padding: 3px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
.open{
    color: green;
    background-color: white;
    border: 1px solid green;
}

.iconMembers{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    width: 60px;
    margin: 5px;
}
.members{
    font-size: 2vw !important;
    transition: .2s ease-in-out;
}
.iconMembers:hover .members{
    transform: scale(1.2);
}
.iconMembers:hover{
    background-color: var(--backgroundBlur);
}
#localToolGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inputAdd{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 0;
    overflow: hidden;
}
.inputAdd.ativeForm{
    width: auto;
    overflow: visible;
}
.iconFormAdd{
    position: absolute;
    bottom: 20px;
    padding-left: 5px;
    color: black
}
.inputAdd:hover .iconFormAdd{
    color: var(--colorBottons);
    transition: .4s ease-in-out;
}
.listMember{
    display: flex !important;
    gap: 10px;
}
.btnTool{
    background: transparent;
    border: 1px solid transparent;
}
.dropdown-menu{
    width: 20vw !important;
}
.btnToolData{
    display: flex;
}

@media(max-width: 680px){
    .localChat {
        height: 80vh;
    }
    .members{
        font-size: 7vw !important;
    }
    #localToolGroup{
        flex-direction: column;
    }
}