<div class="windowLogin">
    <div class="logo">
       <div class="title p-3">
           <h3>Bem Vindo à VoxEC</h3>
        </div>
        <div id="logo">
            <a href="/user/about"><img src="/assets/images/VoxEC.png" alt=""></a>
        </div>
    </div>
    <div class="login">
        <div id="logo">
            <a href="/user/about"><img src="/assets/images/VoxEC.png" alt=""></a>
        </div>
        <div class="mb-3">
            <h3>Faça seu Login!</h3>
        </div>
        <form action="/" method="post">
            <div class="mb-3">
                <label for="email">E-mail:</label>
                <div class="inputContent">
                    <span class="material-symbols-outlined iconForm">
                        mail
                    </span>
                    <input type="email" class="form-control" placeholder="Seu E-mail..." name="email" id="email">
                </div>
            </div>
            <div class="mb-3">
                <label for="password">Senha:</label>
                <div class="inputContent">
                    <span class="material-symbols-outlined iconForm">
                        lock
                    </span>
                    <input type="password" class="form-control" placeholder="Sua Senha..." name="password" id="password">
            
                </div>
                <span>Esqueceu a senha?</span>
            </div>
            <div class="btns">
                <button type="submit" class="btnAction">Login</button>
                <a href="/user/register"><button type="button" class="btnAction">Cadastro</button></a>
            </div>
        </form>
    </div>
</div>